{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block doctitle %}Product Form | {{ block.super }}{% endblock %}
{% block content %}
  <form autocomplete="off" method="post" enctype="multipart/form-data" class="row">
    {% csrf_token %}
    {{ form|crispy }}
    <fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a
          {% if object %}
            href="{% url "store:detail" pk=object.pk %}"
          {% else %}
            href="{% url "store:list" %}"
          {% endif %}
            class="btn btn-secondary">Cancel</a>
    </fieldset>
  </form>
{% endblock %}