{% extends "base.html" %}
{% block doctitle %}Profile | {{ block.super }}{% endblock %}
{% block content %}
    <div class="row">

        <div class="col justify-content-start">
            {% if user.first_name and user.last_name %}
                <h5>First name {{ user.first_name|title }} </h5>
                <h5>Last name {{ user.last_name|title }}</h5>
            {% else %}
                <h5>{{ user.username }}</h5>
            {% endif %}
        </div>
        {% if user.profile %}
            <div class="col justify-content-start">
                <h5>Balance: {{ user.profile.balance }} $</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}